@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_container {
    height: 550px;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 30px;

}

.cards_area {
    position: relative;
    pointer-events: none;
    height: 450px;
    border: 10px solid rgb(239, 239, 239);
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) -7px 5px 5px -8px inset, rgba(0, 0, 0, 0.3) 4px 6px 6px -8px inset;
    
}

.disabled_game {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 430px;
    width: 100%;
    background-color: rgba(41, 52, 61, 0.73);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.win_game {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 430px;
    width: 100%;
    background-color: rgb(251, 251, 251);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #646464;
}

.congrat {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text_result {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}


.nav_area {
    background-color: rgb(239, 239, 239);
    height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    display: flex;
    justify-content: space-around;
    
}

.card_table {
display: flex;
justify-content: center;
flex-wrap: wrap;
column-gap: 20px;
row-gap: 20px;
padding-top: 35px;
}

.card, .front-view, .back-view {
    display: flex;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card.shake {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(7px);
    }
    60% {
        transform: translateX(-4px);
    }
    80% {
        transform: translateX(7px);
    }
}


.front-view {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    align-items: center;
    background-color: rgb(238, 238, 238);
    transition: 0.6s;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    background-color: rgb(238, 238, 238);
    align-items: center;
    transform: rotateY(180deg);
    transition: 0.6s;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.flip .back-view {
    transform: rotateY(360deg);
}

.text-front {
    font-size: 40px;
    color: #5793bb;
}


/* Buttons */

.buttons {
display: flex;
width: 380px;
justify-content: center;
align-items: center;
column-gap: 30px;
}

.btn_play {
background-color: #95e2b0;
height: 50px;
width: 150px;
border-radius: 14px;
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_play:hover {
background-color: #6fe398;
transform: translateY(1px);
}

.btn_play:active {
transform: translateY(3px);
}

.btn_restart {
border: 1px solid rgb(208, 126, 126);
color: rgb(212, 101, 101);
height: 50px;
width: 150px;
border-radius: 14px;
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_restart:hover {
transform: translateY(1px);
}
    
.btn_restart:active {
transform: translateY(3px);
}

/* Timer */

.timer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 5px;
width: 130px;

}

.time_text {
font-size: 16px;
}

.stopwatch {
    display: flex;
    column-gap: 1px;
}

.hide {
    display: none;
}

@media (max-width: 555px) {
    
    .game_container {
        height: 530px;
        width: 390px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 30px;
    
    }
    
    .cards_area {
        position: relative;
        pointer-events: none;
        height: 450px;
        border: 10px solid rgb(239, 239, 239);
        background-color: rgb(221, 221, 221);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) -7px 5px 5px -8px inset, rgba(0, 0, 0, 0.3) 4px 6px 6px -8px inset;
        
    }
    
    .disabled_game {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 430px;
        width: 100%;
        background-color: rgba(41, 52, 61, 0.73);
        border-top-left-radius: 23px;
        border-top-right-radius: 23px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
    .win_game {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: absolute;
        top: 0;
        left: 0;
        height: 430px;
        width: 100%;
        background-color: rgb(251, 251, 251);
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #646464;
}

.card_table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 35px;
    }
    
.card, .front-view, .back-view {
        display: flex;
        cursor: pointer;
        height: 80px;
        width: 80px;
        border-radius: 15px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .hide {
        display: none;
    }

    .timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
        width: 100px;
        }

.buttons {
    display: flex;
    width: 290px;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.btn_play {
    background-color: #95e2b0;
    height: 50px;
    width: 110px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}    
.btn_restart {
    border: 1px solid rgb(208, 126, 126);
    color: rgb(212, 101, 101);
    height: 50px;
    width: 110px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    } 

    .front-view {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        user-select: none;
        pointer-events: none;
        align-items: center;
        background-color: rgb(238, 238, 238);
        transition: 0.6s;
        backface-visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
    .back-view {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        user-select: none;
        pointer-events: none;
        background-color: rgb(238, 238, 238);
        align-items: center;
        transform: rotateY(180deg);
        transition: 0.6s;
        backface-visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
    .card.flip .front-view {
        transform: rotateY(180deg);
    }
    
    .card.flip .back-view {
        transform: rotateY(360deg);
    }
}